html, 
body {
    height: 100%;
}
body {
    margin: 0;
    padding: 0;
    background-color: gray;
    overflow-y: hidden; /* Hide vertical scrollbar */
    overflow-x: hidden; /* Hide horizontal scrollbar */
    cursor: default;
    background-image: url('img/background.jpg');
    background-size: cover;
}

li {
    list-style-type: none;
}

ul {
    padding: 15px;
    margin: 0;
}

.item {
    height: 50px;
    width: 50px;
    position: absolute;
    background: orange;
}

.grid {
    display: grid;
    grid-template-columns: auto auto;
}

.grid-item {
    padding: 5px;
}

#footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: darkslategrey;
    color: white;
    text-align: center;
 }

 #menuBtn {
     margin-left: 5px;
     text-align: left;
 }


 #menu {
     position: absolute;
     bottom: 20px;
     width: 150px;
     background-color: rgb(25, 41, 41);
     color: white;
 }

 #menuDireito {
    position: absolute;
    color: rgb(192, 192, 192);
    animation: pulse 0.5s;
    background-color: rgb(31, 29, 39);
 }

 @keyframes pulse{
    0% {
        background-color: rgba(42, 49, 56, 0);
      }
      100% {
        background-color: rgb(31, 29, 39);
      }
 }

 #relogio {
     margin-right: 5px;
     text-align: right;
 }

